VITE_SUPABASE_URL=https://djojzanetigkbdkeblvb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_ekhW2gFgS5B1YYNGvDLkdQ_CBhH6J4o
VITE_NETWORK=sepolia
VITE_APP_URL=https://davexinoh.github.io/StarkSplit
